
.containerB {
    position: relative;
    margin-top: 10px;
}


.size-title{
  font-size: 35px;
  margin: 0px 10px;
}


.size-subtitle{
  font-size: 25px;
  margin: 0px 10px;
}

.display-1{
	font-weight: bold;
	font-size: 35px;
	margin: 0px 10px;
  }

  .display-2{
	font-size: 20px;
	margin: 0px 10px;
  }


.display-3 {
  font-weight: bold;
  font-size: 22px;
  padding: 0px 15px;
}




  .btn-primary{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
    margin: 8px 25px;
   }

.btn-primary:hover{
    background-color: #7B2CBF;
    border-color: #9D4EDD;
    color: blanchedalmond;
}   
   

.btn-primary:active{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
}  

.btn.secondary{
  background-color: gray;
  color: blanchedalmond;
  margin: 0px 15px;
}

.space-button{
    margin: 9px 15px;
}

.space{
  margin: 12px 0px;
}


.container-ico {
  font-size: 90px;
  margin: 40 px;
}


.containerI {
    padding-top: 25px;
    border-color: blue;
} 
 .containerD {
    padding-top: 20px;
    margin:  20px;
}

     

     


     
