<header class="header">
  <div class="logo">
      <img src="https://prowly-uploads.s3.eu-west-1.amazonaws.com/uploads/5726/assets/73418/doctoralia-mktpl-symbol-turquoise.png" alt="logo aplicacion">
      
  </div>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Buscar..." >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-search"></i> 
    </button>
  </div>
</div>

<div>
  <button type="button" class="btn btn-primary " (click)="openModal()">Cerrar Sesión</button>

    <ng-template #content let-modal>


      <div class="modal-header">
          <h4 class="modal-title" id="modalContentLabel">Cerrar Sesión</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>


      <div class="modal-body">

        <form class="container  size container-properties">
          <div class="titulo-secundario title-candsub d-flex align-items-center">
          <i class="bi bi-person-plus-fill container-ico"></i>
          <div class="ml-3">
            <h4 class="mb-0 display-1 font-weight-bold">
              Desea salir?
            </h4>
          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
          <button type="button" class="btn btn-primary" [routerLink]="['']" (click)="modal.dismiss()">Salir</button>
        </div>
          </div>
        </form>
      </div>
    </ng-template>
</div>
</header>