.containerB {
    position: relative;
    margin-top: 10px;
}

.space-button{
    margin: 9px 6px;
}


.containerI {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 55%;
    padding: 3px;
    padding-top: 15px;
    border-color: black;
    margin: 10px 3px 30px 5px;
  } 
  .containerD {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 2px;
    margin: 10px 3px 30px 5px;
  }