<div class="card card1" style="width: 18rem;">
    <div class="containerI row"  >
     
        <div class="containerE">
            <div class="titulo-secundario title-candsub d-flex flex-column flex-md-row align-items-md-center container-ico">
                <i class="bi bi-stopwatch"></i>
                <div class="ml-md-3 mt-3 mt-md-0">
                  <h4 class="mb-0 display-1 font-weight-bold">
                    Historial
                  </h4>
                </div>
              </div>
        </div>

        <div class="containerF">
        <div class="col-md-8">
            <label for="formGroupExampleInput" class="form-label">Fecha de Captura</label>
            <input type="date" class="form-control login__input" id="formGroupExampleInput" placeholder="">
        </div>
        </div>

        <div class="containerA">
            <div class="col-md-8">
                <label for="formGroupExampleInput" class="form-label">A</label>
                <input type="date" class="form-control login__input" id="formGroupExampleInput" placeholder="">
        </div>
        </div>

        <div class="containerN">
            <div class="col-md-8">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input type="text" class="form-control login__input" id="formGroupExampleInput" placeholder="">
        </div>
        </div>

        <div class="containerEs">
            <div class="col-md-8">
                <div class="form-group">
                  <label for="distrito">Status</label>
                  <select class="form-control login__input" id="distrito">
                    <option value="">Seleccione un status</option>
                    <option value="1">Completo</option>
                    <option value="2">Incompleto</option>
                  </select>
                </div>
              </div>
        </div>

        <div class="containerB">
            <div class="modal-footer">
                <button type="button row" class="btn btn-primary"  >Continuar</button>
              </div>
        </div>

         
</div>
