.contenedor-ico {
    font-size: 150px;
    color: #9D4EDD;
}

.container-ico{
	font-size: 90px;
	margin: 10 px;
}


.size{
    font-size: 20px;
}

.color-button{
    background-color: #9D4EDD
}

.space-button{
    margin: 20px 10px;
}

.container-properties{
    margin: 10px 0px;
}

.btn-primary{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
    margin: 8px 25px;
   }

.btn-primary:hover{
    background-color: #7B2CBF;
    border-color: #9D4EDD;
    color: blanchedalmond;
}   
   

.btn-primary:active{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
}  

.btn.secondary{
  background-color: gray;
  color: blanchedalmond;
  margin: 0px 15px;
}

.display-1{
	font-weight: bold;
	font-size: 35px;
	margin: 0px 10px;
  }

  .display-2{
	font-size: 20px;
	margin: 0px 10px;
  }


.login__input {
	color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: #9D4EDD;
	letter-spacing: 1px;
}
