.contenedor-ico {
    font-size: 150px;
    color: blueviolet;
}

.contenedor-ico-2{
    font-size: 100px;
}


.size{
    font-size: 20px;
}

.color-button{
    background-color: blueviolet
}

.space-button{
    margin: 20px 5px;
}
