
.contenedor-ico {
    font-size: 150px;
    color: blueviolet;
}

.contenedor-ico-2{
    font-size: 100px;
    padding: 10px;
}


.size{
    font-size: 20px;
}

.color-button{
    background-color: blueviolet
}

.space-button{
    margin: 10px 5px;
}


/**/


.btn-primary{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
    margin: 8px 25px;
   }

.btn-primary:hover{
    background-color: #7B2CBF;
    border-color: #9D4EDD;
    color: blanchedalmond;
}   
   

.btn-primary:active{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
}   

.display-1{
	font-weight: bold;
	font-size: 35px;
	margin: 0px 10px;
  }

  .display-2{
	font-size: 20px;
	margin: 0px 10px;
  }

  

  .container-ico {
    font-size: 90px;
    margin: 40 px;
  }
