<div class="container">
    <div class="row">
      <div class="col-md-3 contenedor-ico  d-flex align-items-end justify-content-center" style="height: 200px;" >
        <div class="text-center">
            <i class="bi bi-person-fill-gear"></i> 
        </div>
     </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
       
          <p class="font-weight-bold h1 "> RENUNCIA</p>
          <p class="h4"> coloque la clave de elector  del propietario que va a renunciar a la candidatura.</p>
       
    </div>
    </div>
  </div>



<div class="container">
    <div class="row">
        <div class="col text-end">
            <p class="size justify-content-center" style="height: 200px;">  Clave Electorr</p>
          </div>
          
        <div class="col">
          <input type="text" class="form-control" placeholder="Clave Elector" aria-label="First name">
        </div>
        <div class="col">
         <button type="button" class="btn btn-success color-button">Buscar</button>
      </div>
    </div>
</div>
<form class="row g-3">
    <div class="col-md-2">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Florentino">
    </div>
    <div class="col-md-2">
      <label for="inputPassword4" class="form-label">Apellido Paterno</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Flores">
    </div>
    <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Apellido Materno</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Flores">
      </div>
      <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Tipo de candidatura</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Propietario">
      </div>
      <div class="col-md-4">
        <label for="inputPassword4" class="form-label">CURP</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="1234567890987654321">
      </div>
    <div class="col-md-2">
      <label for="inputAddress" class="form-label">Tipo de eleccion</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Mayoria relativa">
    </div>
    <div class="col-md-4">
        <label for="inputAddress" class="form-label">Distrito</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="09 - CHIAUTEMPAN">
      </div>
      <div class="col-md-4">
        <label for="inputAddress" class="form-label">Partido politico</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Por Tlaxcala al Frente">
      </div>
      <div class="col-md-2">
        <label for="inputAddress" class="form-label">Género</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="FEMENINO">
      </div>


      <div class="col-md-3">
        <label for="inputAddress" class="form-label">Fecha de Renuncia</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="24/04/2018">
      </div>
    <div class="col-md-3">
      <label for="inputState" class="form-label">Motivo de Renuncia</label>
      <select id="inputState" class="form-select">
        <option selected>Selecciona una opción</option>
        <option> INHALACION </option>
        <option> INCAPACIDAD </option>
        <option> RENUNCIA </option>
        <option> FALLECIMIENTO </option>
        </select>
    </div>

    <div class="justify-content-center btn-formulario">
      <div>
            <button
    type="button" name="button" class="btn btn-secondary space-button" id="subsanacion-cancelar">
    Cancelar
  </button>
  
    <button type="submit" 
    class="btn btn-primary space-button color-button"
    >Continuar</button>
      </div>
    </div>
  </form>