
<div class="container">
    <div class="row">
      <div class="col-md-3 contenedor-ico  d-flex align-items-end justify-content-center" style="height: 200px;" >
        <div class="text-center">
            <i class="bi bi-person-fill-gear"></i> 
        </div>
     </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
       
          <p class="font-weight-bold h1 "> REPORTES</p>
          <p class="h4"> Administre la informacion de las candidaturas. </p>
       
    </div>
    </div>

<form class="row g-3">
    <div class="col-md-4">
        <label for="inputState" class="form-label"> TIPO DE ELECCION </label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label"> DISTRITO </label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">PARTIDO POLITICO/COALICION/INDEPENDIENTE</label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">TIPO DE CANDUDATURA</label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">ESTADO</label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">GENERO</label>
        <select id="inputState" class="form-select">
          <option selected>Todos</option>
          <option> ....... </option>
          </select>
      </div>

    <div class="col-md-2">
      <button type="submit"  class="btn btn-primary">Consultar</button>
    </div>
    <div class="col-md-2">
      <button type="submit"  class="btn btn-secondary">Imprimir</button>
    
    </div>
  </form>
</div>

<div class="container table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de Eleccion</th>
            <th scope="col">Tipo de Candidatura</th>
            <th scope="col">Clave de Elector</th>
            <th scope="col">Estado</th>
            <th scope="col">Distrito</th>
            <th scope="col">Partido Politico</th>
            <th scope="col">Genero</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ERNESTO LOPEZ LOPEZ</th>
            <td>MAYORIA RELATIVA</td>
            <td>Suplente</td>
            <td>1234567890</td>
            <td>Incompleto</td>
            <td>05-YAHUQUEMECAN</td>
            <td>Parido Encuentro Social (PES)</td>
            <td>MASCULINO</td>
          </tr>
          <tr>
            <th scope="row">FRIDA PAULINA TORIZ BRINDIS</th>
            <td>MAYORIA RELATIVA</td>
            <td>Propietario</td>
            <td>1234567890</td>
            <td>Completo</td>
            <td>04-APIZACO</td>
            <td>Parido Encuentro Social (PES)</td>
            <td>FEMENINO</td>
          </tr>
          <tr>
            <th scope="row">ELENA MARQUEZ TORRES</th>
            <td>MAYORIA RELATIVA</td>
            <td>Propietario</td>
            <td>1234567890</td>
            <td>Sustituido</td>
            <td>05-YAHUQUEMECAN</td>
            <td>Parido Encuentro Social (PES)</td>
            <td>FEMENINO</td>
          </tr>
          <tr>
            <th scope="row">LAURA LOPEZ LOPEZ</th>
            <td>MAYORIA RELATIVA</td>
            <td>Suplente</td>
            <td>1234567890</td>
            <td>Renuncia</td>
            <td>05-YAHUQUEMECAN</td>
            <td>Parido Encuentro Social (PES)</td>
            <td>FEMENINO</td>
          </tr>
        </tbody>
      </table>
</div>