.color{
    background-color: #7B2CBF;
}

.img-size {
    width: 170px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
  }



.container{
    width:  600px;
    height: 600px;
  
}


.btn-primary{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
    margin: 8px 25px;
   }

.btn-primary:hover{
    background-color: #7B2CBF;
    border-color: #9D4EDD;
    color: blanchedalmond;
}   
   

.btn-primary:active{
    background-color: #9D4EDD;
    border-color: #9D4EDD;
    color: blanchedalmond;
}  
