
<!--title search candidate-->
<div class="container">
    <div class="row">
      <div
        class="col-md-3 contenedor-ico d-flex align-items-end justify-content-center"
        style="height: 200px"
      >
        <div class="text-center">
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <p class="font-weight-bold h1">CANDIDATO A SUSTITUIR  </p>
        <p class="h4">
          coloque la clave de elector del propietario de la candidatura a sustituir.
        </p>
      </div>
    </div>
  </div>

  
<div class="container">
    <div class="row">
      <div class="col text-end">
        <p class="size justify-content-center" style="height: 200px">
          Clave Elector
        </p>
      </div>
  
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Clave Elector"
          aria-label="First name"
        />
      </div>
      <div class="col">
        <button type="button" class="btn btn-success color-button">Buscar</button>
      </div>
    </div>
  </div>

<!--table data-->
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre(S)</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Tipo de Candidatura</th>
          <th>CURP</th>
          <th>Tipo de Elección</th>
          <th>Distrito</th>
          <th>Partido Político</th>
          <th>Género</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Florentino</td>
          <td>Flores</td>
          <td>Flores</td>
          <td>Propietario</td>
          <td>FLFF891119HTLDPPR04</td>
          <td>Mayoria Relativa</td>
          <td>09-CHIAUTEMPAN</td>
          <td>Por Tlaxcala al frente (PAN/PRD/Movimiento Ciudadano/PA)</td>
          <td>Femenino</td>
        </tr>

      </tbody>
    </table>
  </div>

<br>


<!--title new Candidacy-->
  <div class="titulo-secundario title-candsub d-flex align-items-center">
    <i class="bi bi-person-plus-fill contenedor-ico-2"></i>
    <div class="ml-3">
      <h4 class="mb-0 display-4 font-weight-bold">
        Candidatura  Nueva
      </h4>
      <p class="mb-0 display-6">
        Coloque la informacion de la nueva candidatura.
      </p>
    </div>
  </div>

  <br>

<!--form container-->
  
  <form class="container ">
    <div class="row container-properties">
      <div class="col-md-4">
        <div class="form-group ">
          <label for="fechaSustitucion">Fecha de Sustitución</label>
          <input type="date" class="form-control login__input" id="fechaSustitucion">
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group">
          <label for="motivoSustitucion">Motivo de Sustitución</label>
          <select class="form-control login__select" id="motivoSustitucion">
            <option value="">Seleccione una opcion</option>
            <option value="1">Opcion 1</option>
            <option value="2">Opcion 2</option>
            <option value="3">Opcion 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="sobrenombre">Sobrenombre</label>
          <input type="text" class="form-control login__input" id="sobrenombre" placeholder="Ingrese el sobrenombre">
        </div>
      </div>
    


    </div>
    
    <div class="row container-properties">
      <div class="col-md-4">
        <div class="form-group">
          <label for="nombres">Nombre(s)</label>
          <input type="text" class="form-control login__input" id="nombres" placeholder="Ingrese su nombre">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input type="text" class="form-control login__input" id="apellidoPaterno" placeholder="Ingrese el apellido paterno">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input type="text" class="form-control login__input" id="apellidoMaterno" placeholder="Ingrese el apellido materno">
        </div>
      </div>
    </div>
    
    <div class="row container-properties">
      <div class="col-md-4">
        <div class="form-group">
          <label for="tipoCandidatura">Tipo de Candidatura</label>
          <input type="text" class="form-control login__input" id="tipoCandidatura" placeholder="Ingrese el tipo de candidatura">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="partidoPolitico">Partido Político</label>
          <input type="text" class="form-control login__input" id="partidoPolitico" placeholder="Ingrese el partido político">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="distrito">Distrito</label>
          <select class="form-control login__input" id="distrito">
            <option value="">Seleccione un distrito</option>
            <option value="1">Distrito 1</option>
            <option value="2">Distrito 2</option>
            <option value="3">Distrito 3</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="row container-properties">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fechaNacimiento ">Fecha de Nacimiento</label>
          <input type="date" class="form-control login__input" id="fechaNacimiento">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="genero">Género</label>
          <select class="form-control login__input" id="genero">
            <option value="">Seleccione un género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="claveElector">Clave de Elector</label>
          <input type="text" class="form-control login__input" id="claveElector" placeholder="Ingrese la clave de elector">
        </div>
      </div>
    </div>
    
    <div class="row container-properties" >
      <div class="col-md-4">
        <div class="form-group">
          <label for="rfc">RFC</label>
          <input type="text" class="form-control login__input" id="rfc" placeholder="Ingrese el RFC">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="folioSRN">Folio de SNR</label>
          <input type="text" class="form-control login__input" id="folioSRN" placeholder="Ingrese el folio de SRN">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="tiempoResidencia">Tiempo de Residencia</label>
          <input type="text" class="form-control login__input" id="tiempoResidencia" placeholder="Ingrese el tiempo de residencia">
        </div>
      </div>
    </div>
    
  
    

    <button
    type="button"
    name="button"
    class="btn btn-secondary space-button"
    id="subsanacion-cancelar">
    Cancelar

  </button>
    <button type="submit" 
    class="btn btn-primary space-button color-button"
    >Continuar</button>
    
  </form>
  <!--end form-->