.contenedor-ico {
    font-size: 150px;
    color: blueviolet;
}

.contenedor-ico-2{
    font-size: 100px;
    padding: 10px;
}


.size{
    font-size: 20px;
}

.color-button{
    background-color: blueviolet
}

.space-button{
    margin: 20px 5px;
}

.container-properties{
    margin: 30px 0px;
}




  .login-box {
    margin-top: 75px;
    height: auto;
    background: rgb(36, 0, 70, 0.8);
    text-align: center;
    box-shadow: 0 3px 6px rgb(158, 79, 222, 0.16), 0 3px 6px rgb(224, 170, 255, 0.23);
    
}

.text-color{
    color: aliceblue;
}

/*input*/

.login__input {
	color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgb(60, 9, 108, 0.8);
	letter-spacing: 1px;
}


/*select*/
.login__select {
    color: white;
    font-size: 1.15rem;
    width: 100%;
    padding: .5rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: rgb(60, 9, 108, 0.8);
    letter-spacing: 1px;
  }
  
