.color{
    background-color: #7B2CBF;
}

.img-size {
    width: 170px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
  }

.button-color{
    background-color: #9D4EDD;
}